@model Compromise.Models.КритерииОценкиПолученныхРезультатов

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>КритерииОценкиПолученныхРезультатов</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ПолнотаКонтекста)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ПолнотаКонтекста)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdПоставщикаNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdПоставщикаNavigation.IdПоставщика)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdСтандартаNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdСтандартаNavigation.IdСтандарта)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdКритерия" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
