@model IEnumerable<Compromise.Models.КритерииОценкиПолученныхРезультатов>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ПолнотаКонтекста)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdПоставщикаNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdСтандартаNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ПолнотаКонтекста)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdПоставщикаNavigation.IdПоставщика)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdСтандартаNavigation.IdСтандарта)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdКритерия">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdКритерия">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdКритерия">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
