@model IEnumerable<Compromise.Models.БазаИндикаторов>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ДатаПервогоПоявления)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ДатаПоследнегоПоявления)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdОбщегоИндикатораNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ДатаПервогоПоявления)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДатаПоследнегоПоявления)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdОбщегоИндикатораNavigation.IdОбщегоИндикатора)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
