@model Compromise.Models.ДоверенныеРесурсы

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ДоверенныеРесурсы</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpАдрес)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpАдрес)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НазваниеОрганизации)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НазваниеОрганизации)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id.IdИндикатора)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdРесурса">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
