@model Compromise.Models.Отчеты

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Отчеты</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ДатаСоставленияОтчета)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ДатаСоставленияОтчета)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Результат)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Результат)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id.IdИндикатора)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdСотрудникаNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdСотрудникаNavigation.IdСотрудника)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdОтчета">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
